@charset "utf-8";

/* common */

body {
    margin: 0;
}

header {
    padding: 16px;
    max-width: 1000px;
}

h1 {
    margin: 0;
    font-weight: normal;
    text-align: center;
}

h2 {
    margin: 96px 0 0;
    text-align: center;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 64px;
}

/* header */

header ul {
    display: flex;
    gap: 20px;
    justify-content: center;
}

ul img {
    vertical-align: bottom;
}

/* mainvisual */

.mainvisual img {
    height: 450px;
    width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

/* about */

.about ul {
    margin-top: 48px;
}

.name {
    margin-bottom: 32px;
}

.about p {
    margin-top: 32px;
}

/* works */

.works img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    margin-top: 32px;
}

/* news */

.news dl {
    margin-top: 48px;
}

.news dt {
    padding: 16px 16px 0;
    border-top: 1px solid #ccc;
}

.news dd {
    margin: 0;
    padding: 0 16px 16px;
}

.last {
    border-bottom: 1px solid #ccc;
}

/* contact */
form {
    margin-top: 48px;
}

.contact dt {
    margin-top: 12px;
}

.contact dd {
    margin: 0;
}

input {
    width: 100%;
    padding: 14px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

input:focus {
    outline: none;
}

textarea {
    width: 100%;
    padding: 14px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

textarea:focus {
    outline: none;
}

button {
    margin: 0 auto;
    display: block;
    background: black;
    color: white;
    padding: 12px 96px;
    border: 1px solid black;
}

button:hover {
    background: white;
    color: black;
    cursor: pointer;
}

/* footer */

footer {
    background: #222;
    text-align: center;
    padding: 10px;
}

small {
    color: white;
    font-size: 12px;
}

@media(min-width:600px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 96px 0;
        width: 90%;
        margin: 0 auto;
    }

    .works ul {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        margin-top: 48px;
    }

    .works li {
        width: calc((100% - 48px) / 3);
    }

    .works img {
        width: 100%;
        object-fit: contain;
        height: auto;
        margin-top: 0;
    }

    .news dt {
        padding: 16px 0;
    }
    
    .news dd {
        margin: 0;
        padding: 16px 0;
        border-top: 1px solid #ccc;
    }

    .fin {
        border-bottom: 1px solid #ccc;
    }

    dl {
        display: flex;
        flex-wrap: wrap;
    }

    dt {
        width: 20%;
    }

    dd {
        width: 80%;
        padding-top: 8px;
    }



}